{% extends 'base.html' %}

{% load static %}
{% load account socialaccount %}

{% block head_title %}sign in{% endblock %}

{% block content %}

<h1>Sign In</h1>

    <div class="row justify-content-center">
        <div class="col">
        {% if redirect_field_value %}
            {% if user.is_authenticated %}
                <p class="centered">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
            {% else %}
                <p class="centered">Please login to see this page.</p>
            {% endif %}
        {% endif %}
        {% for message in messages %}
        <p class="centered">{{ message }}</p>
        {% endfor %}

    <p class="centered">
        <a href="{% provider_login_url 'google' %}">
            <img src="{% static 'pages/images/btn_google_signin_light_normal_web.png' %}" alt="Login with Google"/>
        </a>
    </p>

    <p class="centered">or</p>

    <form method="post" action="{% url 'account_login' %}">
    {% if form.non_field_errors %}
        <div class="row">
            <div class="col centered">{{ form.non_field_errors }}</div>
        </div>
    {% endif %}
        <div class="row">
            <div class="col">
                {{ form.login }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.password }}
            </div>
        </div>
        <div class="row">
            <div class="col centered">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="redirect_field_name" value="{{ redirect_field_value }}">
                {% endif %}
                {{ form.captcha }}
                <p class="centered">{{ form.remember }} {{ form.remember.label|lower }}</p>
                <input type="submit" class="button" value="login"><br/>
                <a class="button" href="{% url 'account_reset_password' %}">reset password</a>
            </div>
        </div>
    </form>
        </div>
    </div>
{% endblock %}