{% for account in accounts %}
    {% if forloop.counter0|divisibleby:3 == 1 %}
        <div class="row">
        {% if forloop.last %}
            <div class="col-md-4"></div>
        {% endif %}
        {% if forloop.revcounter == 2 %}
            <div class="col-md-2"></div>
        {% endif %}
    {% endif %}
            <div class="col-md-4">
                <h3>
                {% if account.business.website|length > 0 %}
                    <a target="new" href="{{ account.business.website }}">{{ account.full_name }}</a>
                {% else %}
                    {{ account.full_name }}
                {% endif %}
                </h3>
                <p class="center">
                    {{ account.address.street }}<br/>
                    {{ account.address.city }}, {{ account.address.state }} {{ account.address.postal_code }}<br/>

                </p>
            </div>
    {% if forloop.counter|divisibleby:3 == 1 or forloop.last %}
        </div>
    {% endif %}
{%  endfor %}
