{% extends 'base.html' %}

{% block content %}

<h2>Welcome to 3cross!</h2>
<p>
3cross Fermentation Cooperative is Massachusetts' first <a href="#cooperate">community-owned brewery</a>. Our 5,500 square foot space in the basement of 26 Cambridge Street houses a spacious taproom, a small nano-brewery setup and lots of space for expansion. While beer is the core of our business here at 3cross, we have plans for a variety of other fermented foods and drinks in the future. Since the business is owned by you, our customers, we keep our focus on serving our local community. It's unlikely that you'll ever see 3cross beer sold too far from Worcester. 
</p>
<p>
Our name references the classic spoke lacing pattern for a bicycle wheel and you'll find elements of bicycle lore and culture throughout the brewery. Since we're cyclists as well as beer lovers, we aim to make 3cross the ideal place to end your next ride. Of course, we also aim to be the perfect place for anyone to enjoy a fresh, local beer.
</p>
{% endblock %}
