{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}apply{% endblock %}

{% block content %}
            <div class="row justify-content-center">
                <div class="col">
                    <h2>3cross Membership Application</h2>

                    {% if request.user.is_authenticated %}
                        <p class="centered">
                            You are currently logged in as {{ request.user.full_name }}.
                            Please <a href="{% url 'account_logout' %}?next={% firstof request.path '/' %}">logout</a>
                            to submit a new membership application.</p>
                    {% else %}
                        <form id="coop-app-form" action="?" method="post">
                            {{ user_form|crispy }}
                            {{ member_form|crispy }}
                            {{ address_form|crispy }}
                            {{ survey_form|crispy }}
                            <div class="control-group">
                                {% csrf_token %}
                                {{ user_form.captcha }}
                                <input type="submit" value="Submit Application" class="button" id="coop-app-submit"/>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
{% endblock %}

{% block javascript %}
    <script>

        function hideCityState() {
            $('#div_id_city').hide();
            $('#div_id_state').hide();
        }

        $(function () {
            $(document).ready(function () {
                hideCityState();
            });

            $("#id_postal_code").keyup(function () {
                var zip_in = $(this);
                var zip_box = $('#div_id_postalcode');

                if (zip_in.val().length < 5) {
                    hideCityState();
                } else if (zip_in.val().length > 5) {
                    hideCityState();
                    zip_box.addClass('error');
                } else if ((zip_in.val().length == 5)) {
                    // Make HTTP Request
                    $.ajax({
                        url: "https://api.zippopotam.us/us/" + zip_in.val(),
                        cache: false,
                        dataType: "json",
                        type: "GET",
                        success: function (result, success) {
                            zip_box.addClass("col-4").removeClass("col");
                            $('#div_id_city').show();
                            $('#div_id_state').show();

                            places = result['places'][0];
                            $("#id_city").val(places['place name']);
                            $("#id_state").val(places['state abbreviation']);
                            zip_box.removeClass('error');
                        },
                        error: function (result, success) {
                            hideCityState();
                            zip_box.addClass('error');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block css %}
    <style>
        #coop-app-submit {
            min-width: 10em;
            width: 100%;
        }

        #apply .container {
            padding: 1em;
        }

        #apply div {
            padding: .125em;
        }

        #coop-app-submit {
            border: 1px solid #d3d3d3;
            background: #f9f9f9;
            color: black;
            margin: auto;
            margin-top: 8px;
            height: 76px;
            width: 152px;
            font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
        }

        input:disabled#coop-app-submit, input[disabled]#coop-app-submit {
            box-shadow: none;
            outline: none;
            opacity: 0.1;
            text-decoration: none;
        }


        #apply {
            text-align: left;
        }

        #certbox input, #certbox label {
            display: inline;
        }

        .page-section {
            width: 50%;
            right: 100%;
        }

        .form-text {
            position: relative;
            display: inline-block;
        }

        /* Tooltip text */
        .form-text ul {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .form-text:hover ul {
            visibility: visible;
        }

        .important {
            color: red;
        }
    </style>
{% endblock %}