{% extends 'base.html' %}

{% block head_title %}cooperate{% endblock %}

{% block content %}
		<h2>
			Cooperate!
		</h2>
		<h3>
			What is a Cooperative? Glad you asked...
		</h3>
		<p>
			A cooperative is a democratically owned and controlled business that exists to serve its members needs and aspirations. Cooperative businesses are owned and run by and for their members and a share in the profits and decision making.
		</p>
		<p>
			Here at 3cross, the business is owned both by its workers and its consumers (that's you!). Each group elects representatives to the Board of Directors to help steer the business, with input from the membership as a whole. Unlike a traditional corporation, each member has an equal vote in the affairs of the cooperative, regardless of the amount of their capital investment. In the case of really important decisions (like changing the business's core mission), all members have an equal say in the final outcome.
		</p>
		<h3>
			Why would I want to become a Member?
		</h3>
		<p>
			Beyond having a say in the direction of a business you patronize and having an opportunity to serve on the Board, members will receive a 20% discount on merchandise purchases along with the special perks below.
		</p>
		<h4>
			Annual Meeting and Celebration
		</h4>
		<p>
			Once a year, we'll hold our Annual Meeting to elect the Board of Directors and vote on important decisions. It won't be just a meeting though, there'll be plenty of time to socialize and celebrate another year!
		</p>
		<h4>
			Quarterly Members-Only Beer
		</h4>
		<p>
			Once a quarter we'll randomly select a member to help design and brew a beer of their choosing. They'll be free to have as much involvement as they like - from simply selecting a style to actually putting on some brewer's boots and cleaning out the mash tun. Once the beer is ready, it will be available for members to purchase at cost.
		</p>
		<h4>
			Patronage Dividends
		</h4>
		<p>
			In years when the business has profits remaining after necessary reinvestment, members will receive a dividend in proportion to their purchases with the coop. Some portion of this dividend will be in cash and some portion may be in the form of increased investment in the coop.
		</p>
		<h4>
			Charity of the Month
		</h4>
		<p>
			Since we have a no tips policy here at 3cross, we donate any cash left on the bar each month to a designated charity. As a member you'll be able to suggest and vote on which charity that money goes to.
		</p>
		<h3>
			I'm sold! How do I join?
		</h3>
		<p>
			The first step is to <a href="/apply">fill out our membership application</a> here on our website. Please note that memberships are for a single person. If you would like to join the co-op as a couple or family, each individual will need to fill out the application. Once you've completed that you'll just need to make a $150 equity contribution. We'd prefer to have you come in to the taproom to do that (we want to get to know you!), but we understand that's not possible for some. If that's the case, we'll send you a link to make your equity contribution online by credit card.
		</p>
{% endblock %}
