<?php
$on_tap_list = array();

$beer_sheet = $sheets->spreadsheets_values->get($data_sheet_id, 'Beers!A2:E', ['majorDimension' => 'ROWS']);
foreach ($beer_sheet['values'] as $row) {
	$draught = $row[4];
	if ($draught > 0) {
		$volume = 0;
		if (isset($row[4])) {
			$volume = $row[4];
			if ($volume > 50)
				$volume = floor($volume/50)*50;
		}
		$on_tap_list[] = ['name' => $row[0], 'abv' => $row[1], 'description' => $row[2], 'vol' => $volume];
	}
}

function print_beer_list($beer_list, $print_available = true) {
    for ($i = 0; $i < count($beer_list); $i++) {
        if ($i % 2 == 0) {
                echo '<div class="row">';
                if ($i == count($beer_list) - 1) {
                        echo '<div class="col-md-3"></div>';
                }
        }

        echo '<div class="col-md-6"><h4>';
        echo $beer_list[$i]['name'];
		echo '</h4><p>';
		echo $beer_list[$i]['description'];
		echo ' ';
		echo $beer_list[$i]['abv'];
		echo '% abv';
		if ($print_available) {
			echo ', ';
			if ($beer_list[$i]['vol'] < 50) {
				echo 'less than 50';
			} else {
				echo $beer_list[$i]['vol'];
			}
			echo ' liters available</p>';
		}
		echo '</div>';

        if ($i % 2 != 0 || $i == count($beer_list) - 1) {
                echo '</div>';
        }
    }
}

function cmp_name($a, $b) {
	return $a['name'] > $b['name'];
}

usort($on_tap_list, "cmp_name");

$soda_list = $sheets->spreadsheets_values->get($data_sheet_id, 'Sodas!A1:A', ['majorDimension' => 'ROWS'])['values'];
?>

<div>
	<h2>on tap</h2>
	<h3>beer</h3>
<?php
	print_beer_list($on_tap_list, false);
	/*
	if (count($on_deck_list) > 0) {
		echo '<h2>on deck</h2>';
		print_beer_list($on_deck_list, false);
	}
	*/
?>
        <h3>fountain sodas</h3>
        <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <p>Our housemade soda syrups are made from fresh ingredients and organic sugar. We mix them to order by the glass in traditional soda fountain style.</p>
				<p class="centered">Current flavors: 
<?php
        foreach ($soda_list as $soda_flavor) {
                echo $soda_flavor[0];
				if ($soda_flavor !== end($soda_list)) {
					echo ", ";
				}
        }
?>					
				</p	>
                </div>
        </div>

</div>
