{% extends 'base.html' %}

{% block content %}
<h2>Sustainability isn't just a buzz word.</h2>
<p>3cross isn't just about brewing beer and supporting our local community. We also want to make sure that we steward our natural resources for the enjoyment of all. Brewing beer can have a significant environmental impact due to large water, electrical and fossil fuel requirements. Here's what we're doing to try to minimize or mitigate our impact on the planet.</p>
<h3>Giving Back</h3>
<p>Working together with <a target="new" href="http://onepercentfortheplanet.org/">1% for the Planet</a>, we have committed to donating 1% of all of our sales to non-profit organizations whose missions are in areas of critical environmental impact: climate, food, land, pollution, water, and wildlife.</p>
<p>So far, 3cross has donated to the <a target="new" href="http://www.massbike.org/">Massachusetts Bicycle Coalition (MassBike)</a>, the <a target="new" href="https://www.recworcester.org/">Regional Environmental Council</a> and <a target="new" href="http://worcesterearnabike.org/">Worcester Earn-A-Bike</a>. MassBike and Worcester Earn-A-Bike work within our city and our state to promote cycling as a fun and eco-friendly mode of transportation and recreation. The REC works to secure access to fresh, healthy food for everyone.</p>
<h3>Green Energy</h3>
<p>Via a partnership with the <a target="new" href="https://www.massenergy.org/">Mass Energy Consumers Alliance</a>, 3cross offsets 100% of it's electrical usage with the purchase of Class 1 RECs from wind power generated in Massachusetts. By doing this we're helping to make the local electric grid greener, faster.</p>
<h3>Waste Management</h3>
<p>Breweries generate a lot of waste in the form of grain solids that have been used, but still contain nutrients. We give our spent grains to local farms to use as feed for livestock, keeping them out of the landfill.</p>
<h3>Responsible Purchasing</h3>
<p>When making decisions regarding which products we purchase to run our business, we always consider environmental impact. All of these decisions are important, from little things like paper goods (we purchase 100% recycled) to more impactful ones like our malted barley (the bulk of which is malted without the use of fossil fuels).</p>
{% endblock %}
