#contact h3 {
	padding-bottom: 1em;
}

#contact h4 {
	padding-top: 1em;
}

#signup_successful, #signup_failed {
	display: none;
}

#mc-embedded-subscribe, #mce-EMAIL, #donation_show:focus ~ #donation_address {
	display: inline !important;
}

#signup_failed {
	color: red;
}

#mce-EMAIL {
	width: 58%;
	min-width: 130px;
	margin: 0 4% 10px 0;
}
