#coop-app-submit {
	border: 1px solid #d3d3d3;
	background: #f9f9f9;
	color: black;
	margin: auto;
	margin-top: 8px;
	height: 76px;
	width: 152px;
	font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}
